mixin footer()
	+b.FOOTER.footer.section&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6
					+e.wrap
						+e.logo-wrap
							a(href="#"): +img(src="img/svg/logo-white.svg", alt="")
							//- a(href="#"): +img(src="img/svg/hr-white.svg", alt="")
						ul 
							li: a(href="#").link Award Regulations
							li: a(href="#").link User agreement
				+e.col.col-lg-6
					//- +linkItem('Address')
					//- 	a(href="#") Tverská 13,
					+linkItem('Contact phone')
						a(href="tel:+421 940 957-775") +421 940 957-775
					+linkItem('Common questions')
						a(href="mailto:frame-info@os.com") frame-info@os.com
					+linkItem('PR and partnership')
						a(href="mailto:pr-frame@os.com") pr-frame@os.com

			+e.bottom-row.row
				+e.col.col-lg-6
					+e.copyr.small © 2025 Management of personnel services
				//- +e.col.col-lg-6
				//- 	a(href="#").small Version for visually impaired
				//- 		+icon('noun-glasses') 

mixin linkItem(t)
	+b.link-item 
		+e.title= t
		block