mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white: +e.row.row
				+e.col.col-lg-6 
					+b.section-title
						h2 Contact us
						.text-large We will tell you how to fill out and submit an application, consult by the project and answer all questions
					+img(src="img/sForm-bg.png", alt="").img.d-none.d-lg-block
				+e.col.col-lg-6
					.title.text-secondary.required How do you want to get a consultation?
					.tabs.tabs-form
						.item.tabs__caption.small
							.tabs__btn.active By phone
							.tabs__btn By email

						.tabs__content.active
							+form-wrap
								+input("Your Full Name",'text')(required)
								+input("Phone",'tel')(required)
									.text.text-indigo.small If you are entering a work phone number with an extension, please specify it in the field below.
								+input("Message",'textarea')
								//- .title.text-secondary.required Enter the characters from the image
								.capture-wrap
								+policy
								+e.btn.btn.btn-primary(type="submit") Send
						.tabs__content
							+form-wrap
								+input("Your Full Name",'text')(required)
								+input("Email",'email')(required)
								+input("Message",'textarea')
								//- .title.text-secondary.required Enter the characters from the image
								.capture-wrap
								+policy
								+e.btn.btn.btn-primary(type="submit") Send
	// end sForm