mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title
				+e.title-wrap
					h2 Behind the scene
					a(href='#') All news
						+icon('arr-next')
			+e.row.row
				+e.col.col-md-6.col-lg-4
					+e.img-wrap.A(href='#')
						+img(src="img/sNews-img.png", alt="").img-bg
						+e.content
							+e.data December 12, 2024
							.text.text-large Applications for participation <br> in the prizes are open
				+e.col.col-md-6.col-lg-4.hide-lg
					+e.img-wrap.A(href='#')
						+e.content
							+e.data December 1, 2024
							.text.text-large Applications for participation <br> in the prizes are open
				+e.col.col-md-6.col-lg-4.hide-md
					+e.wrap
						+e.item(href='#')
							+e.data November 1, 2024
							.text.text-large The winners of the award: who headed the rating?
						+e.item(href='#')
							+e.data November 10, 2024
							.text.text-large Webinar: how to develop an effective strategy for holding talents
						+e.item(href='#')
							+e.data November 12, 2024
							.text.text-large New nominations and evaluation criteria

	// end sNews