mixin sFrameSlider(data)
	// start sFrameSlider
	+b.SECTION.sFrameSlider.section#sFrameSlider&attributes(attributes)
		.container
			+b.section-title
				h2 Storyboard
			+e.slider--js.swiper
				.parallax-bg(style="background-image: url('img/svg/parallax.svg')" data-swiper-parallax="-10%").d-none.d-lg-block
				.parallax-bg(style="background-image: url('img/svg/parallax-mob.svg')" data-swiper-parallax="-20%").d-lg-none

				.swiper-wrapper
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Frame 1','148 days','February 13 - July 11','Acceptance of applications','Participants enter data on the project in the Personal Account on the Prize website')
						+e.btn.btn.btn-light(href='#') Apply
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Frame 2','20 days','July 14 - August 3','Technical examination','We process applications and determine 240 nominees')
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Frame 3','27 days','August 4 - September 7','Expert commission','Experts choose 60 finalists.Finalists we invite the award ceremony')
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Frame 4','13 days','September 8 - September 21','The jury voting','The jury determines 36 laureates - of which 12 winners')
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Frame 5','Offline','October 2','Premiere','We welcome the finalists, reward laureates and winners at the ceremony in City').--primary
						+img(src="img/svg/stars.svg", alt="").stars.stars_rotate
	// end sFrameSlider

mixin frameSlide(s1, s2, date, t, p)
	+b.frame-slider&attributes(attributes)
		+e.top
			+e.nav
				.text-large= s1
				.text-large= s2
			+e.date= date
		+e.bottom
			+e.title.h3= t
			if p
				+e.text= p
			block