mixin sNominations(data)
	// start sNominations
	+b.SECTION.sNominations.section#sNominations&attributes(attributes)
		.container
			+b.section-title
				h2 Nominations
				.text-large An employee can submit an application from an organization that has successfully implemented one or more projects in the field of management
			+e.grid
				+e.item.item-nomin--js: +nominationCard('The secret of a successful frame: ', 'Attraction', '2')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								p Projects are noted that help to attract talented employees to the organization.Share practical solutions that allow you to attract personnel with comfort for both the team and for candidates!
							+icon('x')
				+e.item.item-nomin--js: +nominationCard('In focus:', 'Retention', '1')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								p Such a project helps the organization to become a place where employees really want to work.Tell us how you made your team a point of attraction for bright specialists!
							+icon('x')
				+e.item.item-nomin--js: +nominationCard('Talent Academy:', 'Development', '2')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								p Your project should be aimed at training your employees, at the possibility of their development.Have you implemented an effective system that helps specialists reveal the potential?Then this nomination is for you!
							+icon('x')
				+e.item.item-nomin--js: +nominationCard('New angle:', 'HR-innovations', '1')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								p This nomination for pioneers in the field of staff work.Automation and digitalization, an innovative approach and unique solutions in the field of HR - all this may be a sign that this nomination is created for your project!
							+icon('x')
				+e.item.wrapper: +b.nomination-card--white
					+img(src=`img/svg/sNomination-2.svg`, alt="").img
					+e.content.content
						+e.wrap
							.h3 Did you have a question?
						+gradientBtn('Get a consultation').link-modal-js(href='#modal-question')

	// end sNominations


mixin nominationCard(t, sub, i)
	+b.nomination-card&attributes(attributes)
		+img(src=`img/svg/sNomination-${i}.svg`, alt="").img
		+e.content
			+e.wrap
				.h3=t
				+e.text.text-large=sub
			+icon('arrowUpRight')
	if block
		block