extends ../layout/main-preload.pug

//- include ../blocks/preloader/_preloader.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sNominations/_sNominations.pug
include ../blocks/sAwards/_sAwards.pug
include ../blocks/footer/_footer.pug
include ../blocks/sAbout/_sAbout.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Preloader'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-main')
	main
		//- +headerBlock 
		section.section
		+sNominations
		+sAwards
	+footer().--wide