mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white
				+b.section-title--flex
					+img(src="img/svg/hr.svg", alt="").logo
					h2 Organizer
				+e.item
					.text.text-large Мы, так же как и вы, стремимся формировать лучшую систему поддержки для своих команд. Ведь динамика, скорость, актуальность, клиентоцентричность и высокие стандарты качества — это #[span ориентиры, которые важны тысячам] наших коллег по всей стране.
					.h3 И мы готовы вместе с вами развиваться, обмениваться знаниями и находить новые решения в сфере работы с людьми.
				+e.btn.btn.btn-outline-primary(href='https://www.mos.ru/news/item/141828073/') Об Управлении кадровых сервисов
	// end sContent
	
mixin sContent2()
	// start sContent
	+b.SECTION.sContent.section#sContent2&attributes(attributes)
		.container
			+b.section-title
				h2 Useful materials
			+e.row.row
				+e.col.col-lg-6
					+cardLinkMaterials('Award Regulations')
				+e.col.col-lg-6
					+cardLinkMaterials('Participant Guide')
				+e.col.col-lg-6
					+cardLinkMaterials('Sample Completed Application')
				+e.col.col-lg-6
					+cardLinkMaterials('Award Presentation')

mixin cardLinkMaterials(t)
	+b.card-material(href='#')&attributes(attributes)
		+e.text.text-large= t
		+icon('arr-next')


mixin sContent3()
	// start sContent
	+b.SECTION.sContent.section#sContent3&attributes(attributes)
		.container
			+b.section-title.section-title_smaller
				.h3 Tell us about the HR project of your team-become leaders in the field of personnel management in the state sector
				+gradientBtn('Participant Guide')(download)
					+icon('download')
