mixin sHeroes(data)
	// start sHeroes
	+b.SECTION.sHeroes.section#sHeroes&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white
				+b.section-title
					h2 The main characters
					.text-large Teams compete only inside their category.
				+e.grid
					+heroesCard('Federation','Federal executive bodies and their subordinate organizations, state corporations and companies with state participation','1')
					+heroesCard('Region','Regional executive bodies and their subordinate organizations, as well as local governments and institutions subordinate to them','2')
					+heroesCard('Capital','Executive authorities and their subordinate organizations of the city','3')
	// end sHeroes

mixin heroesCard(title, p, img)
	+b.heroes-card 
		.h3.ttu= title 
		+e.text= p
		+img(src=`img/svg/sHeroes-card-bg-${img}.svg`, alt="").img

mixin sHeroes2(data)
	// start sHeroes
	+b.SECTION.sHeroes.bg-before.section#sHeroes2&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white
				+b.section-title
					h2 The "In the frame" award is
				+e.row.row
					+e.col.col-lg-4
						+cardHeroesIcon(1, 'The opportunity to take an honorable place among leading teams')
					+e.col.col-lg-4
						+cardHeroesIcon(2, 'Recognition of an examination of employees of state organizations')
					+e.col.col-lg-4
						+cardHeroesIcon(3, 'Expert opinion and valuable feedback for projects')
					+e.col.col-lg-4
						+cardHeroesIcon(4, 'Support at the largest information platforms')
					+e.col.col-lg-4
						+cardHeroesIcon(5, 'Opportunities for partnership with the leaders of the industry and their teams')

mixin cardHeroesIcon(i, text)
	+b.card-heroes-icon 
		+img(src=`img/svg/sHeroes-img-${i}.svg`, alt="")
		+e.text= text