mixin sAbility(data)
	// start sAbility
	+b.SECTION.sAbility.bg-before.section#sAbility&attributes(attributes)
		.container
			+b.section-title.sAbility__grid.title
				h2 A real opportunity to win
				.span Even if you have never participated in the prizes
			+e.grid
				+abilityCard('Support of nominees at all stages', 'Convenient personal account to manage applications, as well as support service', 1).--large
				+abilityCard('For free', 'Any team member can submit an application that has successfully implemented one or more persons management projects')
				+abilityCard('Assistance with filling out the application', 'I will tell you how to choose the most suitable nomination and correctly describe the project')
				+abilityCard('Because your ideas are in the foreground', 'The benefits for people and teams are evaluated, not the budget spent or the amount of the organization', 2).--large
	// end sAbility

mixin abilityCard(t, p, img)
	+b.ability-card&attributes(attributes)
		+e.content
			+e.title.h3= t
			+e.text.text-large= p
		if img
			+img(src=`img/sAbility-${img}.png`, alt="")
