mixin pagePreloader()
	#preloader
		.preloader-wrapper
			.preloader-logo
				<svg class='logo-svg' width="87" height="88" viewBox="0 0 87 88" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M42.0332 -0.000976562C34.836 -0.000976562 28.9852 5.87351 28.9852 13.1275V16.0393C28.9852 23.2832 23.1495 29.1678 15.9372 29.1678H13.0421C5.84498 29.1678 -0.00585938 35.0423 -0.00585938 42.2963V87.5054H15.9321C23.1293 87.5054 28.9801 81.6309 28.9801 74.3769V29.1678H73.9041C81.1012 29.1678 86.947 23.2933 86.947 16.0393V-0.000976562H42.023H42.0332Z" fill="white" />
				</svg>
				<svg class='logo-svg' width="87" height="88" viewBox="0 0 87 88" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M71.001 0.169922C63.8039 0.169922 57.9581 6.0444 57.9581 13.2984V45.379C57.9581 52.6229 52.1224 58.5075 44.9152 58.5075H13.0392C5.84205 58.5075 -0.00878906 64.382 -0.00878906 71.636V87.6763H44.9152C52.1123 87.6763 57.9581 81.8018 57.9581 74.5478V58.5075H73.8961C81.0932 58.5075 86.939 52.633 86.939 45.379V0.169922H71.001Z" fill="white" />
				</svg>
		.preloader-text-wrapper
			<svg class="svg-text" width="386" height="61" viewBox="0 0 386 61" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.200195 60.9995V0.519531H13.1362V60.9995H0.200195Z" fill="white" />
				<path d="M21.5283 60.9995V0.519531H38.2443L65.1243 53.9435L61.0083 54.9515V0.519531H73.6083V60.9995H56.8923L30.0123 7.57553L34.1283 6.56753V60.9995H21.5283Z" fill="white" />
				<path d="M97.9814 60.9995V0.519531H110.917V60.9995H97.9814ZM104.029 37.5635V27.6515H138.721V37.5635H104.029ZM104.029 10.4315V0.519531H140.653V10.4315H104.029Z" fill="white" />
				<path d="M147.192 60.9995V0.519531H174.24C178.608 0.519531 182.416 1.27553 185.664 2.78753C188.912 4.24353 191.432 6.31553 193.224 9.00353C195.016 11.6915 195.912 14.8275 195.912 18.4115C195.912 21.9395 195.016 25.0475 193.224 27.7355C191.432 30.3675 188.912 32.4395 185.664 33.9515C182.416 35.4075 178.608 36.1355 174.24 36.1355H157.44V26.6435H173.904C176.984 26.6435 179.336 25.9435 180.96 24.5435C182.64 23.0875 183.48 21.0715 183.48 18.4955C183.48 15.8635 182.668 13.8755 181.044 12.5315C179.42 11.1315 177.04 10.4315 173.904 10.4315H160.128V60.9995H147.192ZM181.296 60.9995L157.02 29.5835H170.712L198.768 60.9995H181.296Z" fill="white" />
				<path d="M201.454 60.9995L223.126 0.519531H234.214L214.306 60.9995H201.454ZM245.806 60.9995L225.982 0.519531H237.574L259.246 60.9995H245.806ZM212.878 37.5635H246.814V47.6435H212.878V37.5635Z" fill="white" />
				<path d="M265.489 60.9995V0.519531H285.649L302.449 58.8155H295.141L311.941 0.519531H332.185V60.9995H319.417V4.13153H321.601L305.221 60.9995H291.865L275.653 4.63553H277.753V60.9995H265.489Z" fill="white" />
				<path d="M340.548 60.9995V0.519531H353.484V60.9995H340.548ZM346.596 60.9995V51.0875H385.572V60.9995H346.596ZM346.596 34.9595V25.2155H382.632V34.9595H346.596ZM346.596 10.4315V0.519531H384.564V10.4315H346.596Z" fill="white" />
			</svg>